.tag-col {
    padding: 0;
}

.tag-btn {
    margin: 5px;
}

.search-container {
    margin-top: 2%;
    background: white;
    padding: 0;
    border-radius: 20px;
}

.search-bar {
    background: rgba(235, 234, 234, 0.42);
    border-radius: 50px;
    border: none;
    margin: 5%;
    height: 65%;
}

.search-button{
    background-color: #016f4a;
    border-radius: 7px;
    margin-top: 23%;
    margin-left: 20%;
    height: 50%;
}

.tag-row {
    padding: 2% 8%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tag-scroll {
    max-height: 8em;
    overflow-y: scroll;
    overflow-x: hidden;
}