.tag-col {
    padding: 0;
}

.tag-btn {
    margin: 5px;
}

.search-container {
    background: white;
    padding: 0;
}

.search-bar {
    background: rgba(235, 234, 234, 0.42);
    border-radius: 10px;
    border: none;
    margin: 5%;
    height: 65%;
}

.tag-row {
    padding: 0 8%;
}

.tag-scroll {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}