.navbar-container{
    opacity: 80%;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    padding-left: 10%;
    font-size: 170%;
    font-weight: bold;
    color: black;
}

.mr-auto{
    margin-left: 10%;
}

.nav-link{
    width: 8em;
    color: black;
    font-style: normal;
    font-weight: 500;
}