.offer-card{
    background-color: white;
    color: black;
    margin-top: 10%;
    margin-left: 2%;
}

.order-button{
    background-color: #088608;
    border-radius: 7px;
}

.cancel-order-button {
    background: #000000;
    border-radius: 7px;
}