.view-profile-button{
    float: right;
}

.view-button{
    background-color: #969696;
    border-radius: 7px;
}

.cancel-confirm-buttons{
    margin-bottom: 5%;
}

.confirm-button{
    background-color: #016f4a;
    border-radius: 7px;
    margin-left: 5%;
}

.flex-row{
    border-radius: 20px;
}
